.expercience__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

}

.expercience__container > div {
background: var(--color-bg-variant);
padding: 2rem 1rem;
border-radius: 1rem;
border: 1px solid transparent;
transition: var(--transition);

}

.expercience__container >div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    background: linear-gradient(var(--color-bg-variant), var(--color-red));

    cursor: pointer;
}

.expercience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-blue);
}

.experience__content {
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience_details {
    display: flex;
    gap: 1rem;
}

.experience_details-icon {
    margin-top: 6px;
    color: var(--color-blue);

}



@media screen and (max-width: 1024px) {
   .expercience__container{
    grid-template-columns: 1fr;
    
   }

   .expercience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
   }
   .experience__content{
    padding: 1rem;
   }
}
   /* ////////////////Media Qeries (small Devices)//////////////////////////// */
   @media screen and (max-width: 600px) {
    .expercience__container {
        gap: 1rem;

    }
    .expercience__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
    }
   